* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #080424;
    font-family: montserrat, sans-serif;
    font-weight: 500;
    font-style: normal;
}

header {
    width: 100vw;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
}

.navbar-default {
    margin-bottom: 0px !important;
}

.navbar {
    background-color: #d9d9d9;
    /* box-shadow: 0 0 2.5rem rgba(138, 189, 222, .75); */
    width: 100vw;
   padding-bottom: 0.5rem;
   padding-top: 0.5rem;
}

.navbar-toggler-icon{
    color: #0f4c81;
}

.navbar-brand {
    color: #0f4c81;
    /* text-align: center; */
    font-size: 1.8rem;
}

.nav-item > a {
    color: #0f4c81;
    font-size: 1.6rem;
}

#view {
    background-image: url('./assets/assetsPage/768BYB.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.viewa {
    height: 100vh;
    /* opacity: 0; */
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* .view:onload {
    transition: 0.75s ease ;
    opacity: 1;
} */

#introduction {
    min-height: 100vh;
    padding-top: 10%;
    padding-bottom: 3rem;

}

#introHeading {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    }



#introHeading h3 {
    font-family: timberline, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #d9d9d9;
    font-size: 2.5rem;
}

#introContent {
    column-count: 2;
    column-gap: 1.5rem;
}

#intro p {
  
    color: #d9d9d9;
    font-size: 1.2rem;
   

}


#cardGallery {
    min-height: 100vh;
    padding-top: 10%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
    /* background: url(./assetsLogo/AdobeStock_210096418_Preview\ copy.jpg) no-repeat center center fixed;
    background-size: cover; */
}

#projectCards {
    display: flex;
    justify-content: center;
}

.card {
   
    padding: 0px;
    margin: 0px;
    border-radius: 1rem;
    background-color: #080424;
    flex: none;
    min-width: 20vw;
  
    
}
.card-logo {
   
    width: 100%;
}

.btn {
    width: 100%;
   
}

img.logo {    
   min-width: 100%;
   

}



.btn:hover {
    box-shadow: 0 0 3rem rgba(138, 189, 222, 0.75);
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    background-color: #d9d9d9;
}

.footerLine p {
    margin: 0px;
    padding: 0px;
}

.footerLine p {
    font-size: 1rem; 
    color: #0f4c81;    
}

.modalBtn {
    border-radius: 1rem 3rem;
    border: thin solid #d9d9d9;
    background-color: #0f4c81;
    color: #d9d9d9;
    width: 30%;
    padding: 1%;
}

.modalBtn:hover {
    box-shadow: 0 0 3rem rgba(138, 189, 222, 0.75);
    background-color: #080424;
}


.modal-header {
    background-color: #0f4c81;
    border: thin solid #d9d9d9;
}

.modal-header h5 {
    font-family: timberline, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.4rem;
    color: #d9d9d9;
    
}

.modal-body {
    background-color: #d9d9d9;
    color: #080424;
    font-size: 1.4rem;
    border: thin solid #0f4c81;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
}

.workDesc {
    padding-top: 1rem;
}

.modalImage {
    min-width: 75%;
    height: auto;
    align-self: center;
    border: 0.05rem solid #080424;
    box-shadow: 0 0 1.25rem rgba(15, 76, 129, 0.75);
    
}

.modal-footer {
    background-color: #0f4c81;
    border: thin solid #d9d9d9;
}

.close {
    color: #d9d9d9;
}
 

/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) { 

    
    #introContent {
        column-count: 3;
        column-gap: 2rem;
        line-height: 1.75;
    }

   
    #card-gallery {    
        padding-top: 0.5%;   
    }

    img.logo {
        filter: grayscale(1);
    }
    
    img.logo:hover {
        filter: grayscale(0);
    }
     }



   @media screen and (min-width: 1025px){

   #view {   
     background-image: url('./assets/assetsPage/BYB1025up.jpg');
   }  
}

/* // Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { 
    .logo {
        max-width: 17vw;
    }
     } */

/* Large devices (desktops, 992px and up)*/
/* @media (min-width: 992px) { 
    .logo {
        max-width: 20vw;
    } } */

/* Extra large devices (large desktops, 1200px and up)
//@media (min-width: 1200px) { ... } */


/* img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

img:hover {
    -webkit-filter: none;
    filter: none;
}

#portfolioLogo2 {
    filter: grayscale(100%);
}

#portfolioLogo2:hover {
    filter: none;
} */

 

 