* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #2f3068;
    padding-top: 50px;
}

.navbar {
    background-color: #151629;
    box-shadow: 4px 4px 10px rgba(17,27,48, .05);
}

.navbar-brand {
    color: white;
    text-align: center;
}

.nav-item a {
    color: white;
}

.viewa {
    min-height: 100vh;
    /* opacity: 0; */
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* .view:onload {
    transition: 0.75s ease ;
    opacity: 1;
} */

#introduction {
    min-height: 100vh;
    margin-top: 55px;
}

#intro {
    margin-top: 15%;
}

h3 {
    font-family: timberline, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
}


#cardGallery {
    min-height: 100vh;
    padding-top: 55px;
    display: flex;
    justify-content: center;
    /* background: url(./assetsLogo/AdobeStock_210096418_Preview\ copy.jpg) no-repeat center center fixed;
    background-size: cover; */
}

.card {
   
    padding: 0px;
    margin: 0px;
    border-radius: 10px;
    background-color: #151629;
    flex: none;
}

.logo {    
    max-width: 20vw;   
}

.btn:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

footer {
    height: 5vh;
    background-color: #151629;
}

.footerLine p {
    margin: 0px;
    padding: 0px;
}

.footerLine p {
    font-size: 9px;
    font-family: sans-serif;
    color: #5055b4;    
}

.modalBtn {
    border-radius: 5px 15px;
    border: medium solid #151629;
    background-color: #2f3068;
    color: #ffffff;
    width: 30%;
    padding: 1%;
}

.modalBtn:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    color: #151629;
}


.modal-header {
    background-color: #2f3068;
}

.modal-header h5 {
    color: #ffffff;
}

.modal-body {
    background-color: #151629;
    color: #ffffff;
    font-size: 10px;
}

.workDesc {
    padding-top: 10px;
}

.modalImage {
    max-width: 66%;
    height: auto;
    align-self: center;
    border: 0.5px solid #151629;
    box-shadow: 3px 3px 3px 3px rgba(47, 48, 104, 0.35);
    
}

.modal-footer {
    background-color: #2f3068;
}

.close {
    color: #ffffff;
}
 

/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) { 
    .logo {    
        max-width: 15vw;   
    }
     }

/* // Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { 
    .logo {
        max-width: 17vw;
    }
     } */

/* Large devices (desktops, 992px and up)*/
/* @media (min-width: 992px) { 
    .logo {
        max-width: 20vw;
    } } */

/* Extra large devices (large desktops, 1200px and up)
//@media (min-width: 1200px) { ... } */


/* img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

img:hover {
    -webkit-filter: none;
    filter: none;
}

#portfolioLogo2 {
    filter: grayscale(100%);
}

#portfolioLogo2:hover {
    filter: none;
} */

 

 